
body {
	background-color: #ccc;
}

.container {
	background-color: #fff;
	display: block;
	text-align: center;
	margin: 100px auto;
	max-width: 700px;
	width: 100%;
	border: 1px solid #fff;
	border-radius: 10px;
	box-shadow: 5px 5px 2px #ccc;
	padding: 10px 20px 20px 20px;

	.title {
		font-size: 40px;
	}
	.verse {
		font-size: 20px;
	}
}